body {
    background:url(http://localhost:50796/Image/white_plaster.png) no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}

*{
    margin:0px;
    padding:0px;
}

div#body {
  margin: auto;
  margin-bottom: 31px;
  margin-top: 85px;
  width: 962px;
  height: 454px;
  background: rgb(228, 215, 196);
}

p {
    padding-top: 30px;
    margin-bottom: 30px;
    font-size: xx-large;
    color: rgb(45, 0, 255);
}

div#register {
  height: 285px;
  padding-top: 30px;
  padding-left: 305px;
  padding-right: 305px;
}

input#txtUserName {
  width: 285px;
  height: 36px;
  font-size: 21px;
  padding-left: 12px;
  margin-bottom: 25px;
}

input#txtPass {
  width: 285px;
  height: 36px;
  font-size: 21px;
  padding-left: 12px;
   margin-bottom: 25px;
}

input#txtRePass {
    width: 285px;
  height: 36px;
  font-size: 21px;
  padding-left: 12px;
   margin-bottom: 25px;
}

input#Button1 {
  width: 153px;
  height: 49px;
  border: none;
  background: rgb(58, 182, 64);
  font-size: 21px;
}

input#Button1:hover {
  color:white!important;
}
